{% extends "base.html" %} 

{% block title %} Data dan Sumber Data {% endblock %}

{% block content %}
<div class="judul_konten"> 
    <h1>Sumber Data</h1>
</div>
    <div>

    </div>
 <div content="sub_content">
    <h1>Indikator Produksi</h1>
</div>
    <div>
        
    </div>
 <div content="sub_content">
    <h1>Indikator Harga</h1>
</div>
    <div>
        
    </div>
<div content="sub_content">
    <h1>Indikator Pengeluaran</h1>
</div>
    <div>
        
    </div>


{% endblock %}
