{% extends "base.html" %} 

{% block title %} Home {% endblock %}

{% block content %}
<div class="judul_konten"> 
        <h1> SATRIA-PDRB BPS KKT </h1>
        <div>
            <h3>Merupakan lembar kerja sebagai wadah pengumpulan data pendukung PDRB dari berbagai Produsen Data di Kabupaten Kepulauan Tanimbar, yang berguna memudahkan pengisian data, dengan menyeragamkan media pengumpulan data menggunakan google spreadsheet, terintegrasi antar periode untuk melihat tren data, serta menjelaskan data secara konsep definisi maupun fenomena lapangan.  </h3>
        </div>
</div>
<div content="sub_content">
 <h2>BUKU PUBLIKASI KABUPATEN KEPULAUAN TANIMBAR </h2>    
 </div>
   <div>
 <h3>PRODUK DOMESTIK REGIONAL BRUTO (PDRB) merupakan indikator penting untuk mengetahui kondisi ekonomi suatu daerah pada periode tertentu. Perkembangan perekonomian Kabupaten Kepulauan Tanimbar dari tahun ke tahun tersaji dalam buku publikasi tahunan BPS berikut: </h3>
     </div> 
{% endblock %}
